<div class="w-full flex flex-col items-center">
  <h1 class="font-bold text-7xl flex items-end gap-4">
    <span> Marketplace on </span> 
    <%= image_tag "rails_logo.png", class: "h-36 object-cover" %>
  </h1>
  <p class="mt-4 text-xl">A marketplace app built with Ruby on Rails. And by open source contributors on a live stream </p>
</div>
